@import '../../_scss/variables';
@import '../../_scss/mixins';

.research {
  display: flex;
  flex-direction: row;
  background: rgb(193,193,193);
  background: linear-gradient(
    0deg, 
    rgba(193,193,193,1) 0%, 
    rgba(245,245,245,1) 100%
  );
  padding: 1%;
  @include rounded-corners(5px);
  width: 80%;
}

.research-img {
  width: 60vw;
  height: 86.5vh;
  @include rounded-corners(5px);
}

.research-details {
  padding: 1%;
  width: 18%;
  text-align: center;
  margin-left: 2%;
  margin-top: 10%;
}

.save-to-faves-btn {
  background: rgb(69,198,141);
  background: linear-gradient(
    0deg, rgba(69,198,141,1) 0%, 
    rgba(73,210,149,1) 35%, 
    rgba(85,246,175,1) 100%
  );
  @include rounded-corners(5px);
  margin: 2%;
  font-size: 1.5em;
  font-family: $main-font;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.save-to-faves-btn:hover {
  transform: scale(1.1);
}