@import '../../_scss/variables';
@import '../../_scss/mixins';

.research-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
  height: 90vh;
}

.research-btn {
  height: 10%;
  width: 100%;
  @include rounded-corners(5px);
  margin: 2%;
  background: rgb(69,198,141);
  background: linear-gradient(
    0deg, rgba(69,198,141,1) 0%, 
    rgba(73,210,149,1) 35%, 
    rgba(85,246,175,1) 100%
  );
  font-size: 1.5em;
  font-family: $main-font;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.research-btn:hover {
  transform: scale(1.1);
}


.button-container {
  display: flex;
  flex-direction: column;
  width: 16%;
  justify-content: flex-end;
}



