@import '../../_scss/mixins';
@import '../../_scss/variables';

main {
  background-color: $dark-blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

h2 {
  font-family: $accent-font;
}

p {
  font-family: $main-font;
}

