@import '../../_scss/variables';
@import '../../_scss/mixins';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.icon {
  height: 5vh;
}

h1 {
  color: white;
  font-family: 'Audiowide', cursive;
}

p {
  font-size: x-large;
  font-family: 'Audiowide', cursive;
  margin: 12px 10px;
  margin-left: 5px;
  color: white;
}

.icon-div {
  display: flex;
  flex-direction: row;
  margin: 1%;
}