@import '../../_scss/variables';
@import '../../_scss/mixins';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon {
  height: 5vh;
}

.cccr-header {
  color: white;
  font-family: $accent-font;
  margin: 0 5% 0 0;
  width: 90%;
}

.triple-equals {
  font-size: x-large;
  font-family: $accent-font;
  color: white;
}

.icon-div {
  display: flex;
  flex-direction: row;
  width: 5%;
}

.user-name {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
}

.header-h2 {
  margin: 0;
}